<div class="jumbotron center">
  <div class="well">
  <br>
  <h1>Welcome to Ruby's Recipes</h1>
  
  <h2>A tasty recipe sharing app!</h2>
  <br><br>
  <p><%= link_to "Sign up", signup_path, class: "btn btn-danger btn-lg" %></p>
 </div> 
</div>

<div class="row">
        <div class="col-lg-4">
          <h2>View Recipes as a Guest</h2>
          <p>Check out the recipes without creating an account. You won't be able to add recipes, likes or comments,<br> but you can still see the recipes of our amazing chefs!</p>
           <p><a class="btn btn-danger" href="https://rubys-recipes.herokuapp.com/recipes" role="button">Recipes &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Sign Into Your Account</h2>
          <p>Sign in and share recipes, upload your favorite family recipe for all to enjoy, as well as comment and like other chef's recipes, add ingredients
          and engage in chef chat!</p>
          <p><a class="btn btn-danger" href="https://rubys-recipes.herokuapp.com/login" role="button">Sign In &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Hire Me</h2>
          <p>Are you someone brought to this app because you heard of me and how awesome I am at Ruby On Rails?<br>
          I appreciate your interest. View my resume here:<br></p>
          <p><a class="btn btn-danger" href="https://camihayes.github.io/" role="button" target="_blank">Resume &raquo;</a></p>
        </div>
      </div>

  